body {
    font-family: Arial;
    padding: 20px;
}

#tabs {
    width: 450px;
}

.tab {
    display: inline-block;
    padding: 6px 10px;
    cursor: pointer;
    border: 1px solid #707070;
}

.whiteborder {
    border-bottom: 1px solid #fff;
    border-radius: 4px 4px 0 0;
}

.tabContent {
    border: 1px solid #707070;
    padding: 10px;
    border-radius: 0 0 4px 4px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.controls div {
    margin-bottom: 5px;
}

#block {
    width: 120px;
    height: 120px;
    background: green;
    margin: 10px 0;
}

textarea {
    width: 100%;
    height: 60px;
}
